.container {
  margin: 0 auto;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.header {
  margin: 2rem auto;
  font-size: 1.45em;
  color: white;
}

.people {
  width: 100%;
  border: 1px solid hsla(0, 0%, 50%, 0.8);
}

.people th {
  color: white;
  padding: 0.4rem 0;
}
