.container {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: rgb(70, 142, 193);
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 1fr;
  /* align-items: center; */
  /* justify-content: center; */
}

.header {
  margin: 2rem auto;
  font-size: 1.45em;
  color: white;
  /* border-bottom: 1px solid hsla(215, 6%, 41%, 0.8); */
  /* padding: 0 0.6rem; */
}

.header h1 {
  margin-bottom: 0.6rem;
}

.table-display {
  width: 100%;
  color: white;
  font-size: 1em;
  border-collapse: collapse;
  margin-bottom: 2.5rem;
}

.table-display th, td {
  text-align: left;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid hsla(215, 6%, 41%, 0.8);
}

.table-display th {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  background-color: rgb(23, 61, 102);
}

.table-display td {
  color: hsla(80, 30%, 90%, 0.8);
}

.table-display tr:nth-child(even) {
  background-color: rgb(27, 73, 122);
}

#count-button {
  background-color: hsla(80, 30%, 90%, 0.8);
  margin: 0 auto 1.8rem;
  padding: 7px;
  color: rgb(27, 73, 122);
  font-weight: bold;
  width: fit-content;
  transition: ease 1s;
  -moz-transition: all ease 1s;
}

#count-button:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(23, 61, 102);
}
